:root {
	--color-black: #222;
	--color-white: #fff;

	--font-primary: "sofia-pro", "foco", sans-serif;

	--index-navbar: 11;
	--index-header: 12;

	--size-container-max-width: 100%;
	--size-header-height: 4rem;
	--size-navbar-height: 8rem;

	--transition-default: 0.2s cubic-bezier(0.42, 0, 1, 1);
}

@media (min-width: 768px) {
	:root {
		--size-header-height: 6rem;
		--size-navbar-height: 6rem;
	}
}

@media (min-width: 1600px) {
	:root {
		--size-container-max-width: 1200px;
		--size-header-height: 12rem;
		--size-navbar-height: 8rem;
	}
}

html {
	font-size: 10px;
}

body {
	background-color: var(--color-white);
	font: 400 1.5rem / 2rem var(--font-primary);
	color: var(--color-black);
}

h1 {
	margin: 0;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button {
	border: none;
	background: inherit;
	cursor: pointer;
}

button:focus {
	outline: none;
}

a {
	background-color: transparent;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}